Package: com.galacticdev.isponsorblock
Name: iSponsorBlock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Skip annoying sponorships in the native YouTube app using SponsorBlock API. 
Maintainer: Galactic Dev
Author: Galactic Dev
Section: Tweaks
Version: 0.0.3
Installed-Size: 264
